In [1]:
import pandas as pd
from datetime import datetime, timedelta
import statsmodels.api as sm
import pylab as pl
import numpy as np
import math

In [2]:
df_users=pd.read_csv('Asana/takehome_users.csv')

In [3]:
df_users_assign=pd.read_csv('Asana/takehome_user_engagement.csv')

###Use package datetime###

In [4]:
convertedtime=[]
for elem in df_users_assign['time_stamp']:
    convertedtime.append(datetime.strptime(elem, '%Y-%m-%d %H:%M:%S'))

In [5]:
df_users_assign['convertedtime']=convertedtime

In [6]:
user_id_data=df_users_assign.user_id

###Count the Number of Logins for each User.###

In [7]:
dictIDCount={}
for elem in user_id_data:
    if elem in dictIDCount:
        dictIDCount[elem]=dictIDCount[elem]+1
    else:
        dictIDCount[elem]=1

In [8]:
user_id_time=df_users_assign.convertedtime

###See whether a user is an adopted user or not###

In [9]:
dictID={}

In [10]:
count=0
for elem in dictIDCount.keys():
    if dictIDCount[elem]<3:
        dictID[elem]=False
        count=count+dictIDCount[elem]
    else:
        for ith in range(count,count+dictIDCount[elem]-2):
            
                
            if user_id_time[ith]+ timedelta(weeks=1)>=user_id_time[ith+2]:
                dictID[elem]=True
                
        if elem not in dictID:
            dictID[elem]=False
        count=count+dictIDCount[elem]

In [11]:
customer_id=df_users.object_id

In [12]:
is_adopted=[]
for elem in customer_id:
    if elem in dictID:
        if dictID[elem]==True:
            is_adopted.append(1)
        else:
            is_adopted.append(0)
    else:
        is_adopted.append(0)

In [13]:
df_users['is_adopted']=is_adopted

In [14]:
df_users.head(10)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,is_adopted
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1398138810,1,0,11,10803,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1396237504,0,0,1,316,1
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1363734892,0,0,94,1525,0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1369210168,0,0,1,5151,0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1358849660,0,0,193,5240,0
5,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1387424226,0,0,197,11241,0
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1356009872,0,1,37,NaN,0
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN,0
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN,0
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1401833283,1,1,318,4143,1

In [15]:
invite_adopted=[]
for elem in df_users['invited_by_user_id']:
    if math.isnan(elem)==False:
        if elem in dictID:
            if dictID[elem]==False:
                invite_adopted.append(0)
            else:
                invite_adopted.append(1)
        else:
            invite_adopted.append(0)
    else:
        invite_adopted.append(0)

In [16]:
creation_source_list=df_users['creation_source']

In [17]:
new_creation_source=[]
for ith in range(len(df_users['creation_source'])):
    if invite_adopted[ith]==1:
        new_creation_source.append(creation_source_list[ith]+'_1')
    else:
        new_creation_source.append(creation_source_list[ith])

In [18]:
df_users['creation_source']=new_creation_source

In [19]:
df_users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,is_adopted
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1398138810,1,0,11,10803,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1396237504,0,0,1,316,1
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE_1,1363734892,0,0,94,1525,0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE_1,1369210168,0,0,1,5151,0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE_1,1358849660,0,0,193,5240,0

In [21]:
df_users.to_csv('df_new_user.csv')