In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
from bs4 import BeautifulSoup
import requests
import html5lib
import datetime

In [2]:
today=datetime.date.today().strftime('%m/%d/%y')

##I.  Team Ranking

In [3]:
r = requests.get("http://www.nhl.com/ice/standings.htm?season=20152016&type=LEA")
text = r.text
hockey_data=pd.read_html(text)
hockey=hockey_data[1].copy()
hockey=hockey.rename(columns = {'Unnamed: 0':'Ranking'})
hockey=hockey.rename(columns = {'Unnamed: 1':'Teams'})

hockey.columns = ['Ranking', 'Teams', u'DIV', u'GP', u'W', u'L', u'OT', u'P', u'ROW', u'GF', u'GA', u'Diff', u'Home', u'Away', u'S/O',  u'L10', u'Streak']

hockey['Pct']=(hockey['W']/hockey['GP'])

In [4]:
asdf=str(today)+'_NHL_standings.csv'

In [5]:
hockey.to_csv('asdf.csv', encoding='utf-8')

In [6]:
hockey=hockey[]

SyntaxError: invalid syntax (<ipython-input-6-47acbe389499>, line 1)

In [7]:
r1 = requests.get("http://espn.go.com/nba/standings/_/group/league")
text1 = r1.text
bball_data=pd.read_html(text1)
eastNBA=bball_data[0].copy()
westNBA=bball_data[1].copy()
frames = [eastNBA, westNBA]
NBA = pd.concat(frames)
#should I add an indicator for the division? (i.e. West vs. East)
NBA=NBA.rename(columns = {'Unnamed: 0':'Teams'})
NBA=NBA.sort(['PCT'], ascending=False).reset_index(drop=True)
#should I try to get rid of the number and extra letter in the Team Names?

IndexError: list index out of range

In [150]:
r1 = requests.get("http://espn.go.com/nba/standings/_/group/league")
text1 = r1.text
bball_data=pd.read_html(text1)
NBA=bball_data[0].copy()
#should I add an indicator for the division? (i.e. West vs. East)
NBA=NBA.rename(columns = {'Unnamed: 0':'Teams'})
#should I try to get rid of the extra letter in the Team Names?

In [155]:
NBA.head(2)

                     Teams   W  L    PCT   GB  HOME ROAD  DIV  CONF    PPG  OPP PPG  DIFF STRK   L10
0  Golden State WarriorsGS  18  0  1.000    -  10-0  8-0  6-0  14-0  115.8     99.8  16.0  W18  10-0
1      San Antonio SpursSA  14  3  0.824  3.5   9-0  5-3  2-1   8-2   99.4     89.7   9.7   W5   9-1

In [152]:
r2 = requests.get("http://espn.go.com/nfl/standings/_/group/league")
text2 = r2.text
football_data=pd.read_html(text2)
NFL=football_data[0].copy()
#should I add an indicator for the division? (i.e. West vs. East)
NFL=NFL.rename(columns = {'Unnamed: 0':'Teams'})

In [154]:
NFL.head(2)

                    Teams   W  L  T  PCT HOME ROAD  DIV CONF   PF   PA  DIFF STRK
0    Carolina PanthersCAR  11  0  0    1  6-0  5-0  2-0  7-0  332  205   127  W11
1  New England PatriotsNE  10  0  0    1  6-0  4-0  4-0  7-0  323  182   141  W10

## II. Salary

In [8]:
r3 = requests.get("http://espn.go.com/nba/salaries/_/year/2015")
text3 = r3.text
NBAsalary_data=pd.read_html(text3)
NBA_salary=NBAsalary_data[0].copy()
NBA_salary.columns = NBA_salary.iloc[0]
NBA_salary.reindex(NBA_salary.index.drop(0))
NBA_salary = NBA_salary[NBA_salary.RK != 'RK'].reset_index(drop=True)
NBA_salary['SALARY'] = NBA_salary['SALARY'].str.replace(r'[$,]', '').astype('float')

In [9]:
NBA_salary.head()

0 RK                 NAME                TEAM    SALARY
0  1      Kobe Bryant, SF  Los Angeles Lakers  23500000
1  2      Joe Johnson, SF       Brooklyn Nets  23180790
2  3  Carmelo Anthony, SF     New York Knicks  22458401
3  4     Dwight Howard, C     Houston Rockets  21436271
4  5       Chris Bosh, PF          Miami Heat  20644400

In [2]:
cap = requests.get("http://war-on-ice.com/cap/")
capText = BeautifulSoup(cap.text)
resultCap= capText.find_all("a")
link=[]
for elem in resultCap:
    if elem.has_attr('href'):
        link.append(elem.attrs['href'])
linkList=link[6:36]

NHLSalary = pd.DataFrame()
for links in linkList:
    r3 = requests.get(links)
    text3 = r3.text
    NHLsalary_data=pd.read_html(text3)
    NHL_salary=NHLsalary_data[0].copy()
    NHL_salary=NHL_salary.drop(NHL_salary.index[0])
    NHL_salary
    NHL_salary.columns = NHL_salary.iloc[0]
    NHL_salary['team']=links[-8:-5]
    NHL_salary.reset_index(drop=True)
    NHLSalary =NHLSalary.append(NHL_salary)

NHLSalary=NHLSalary.dropna()
NHLSalary=NHLSalary[NHLSalary['2015-16']!='--']
NHLSalary=NHLSalary[NHLSalary['2015-16']!='UFA']
NHLSalary=NHLSalary[NHLSalary['2015-16']!='RFA']
NHLSalary=NHLSalary[NHLSalary['2015-16']!='2015-16']
del NHLSalary[NHLSalary.columns[2]]
del NHLSalary[NHLSalary.columns[2]]
del NHLSalary[NHLSalary.columns[3]]
del NHLSalary[NHLSalary.columns[3]]
del NHLSalary[NHLSalary.columns[3]]
del NHLSalary[NHLSalary.columns[3]]

NHLSalary['2015-16'] = NHLSalary['2015-16'].str.replace(r'[$,]', '').astype('float')

NHLSalary
NHLSalary.columns = [ 'Player', 'Pos', 'Salary', 'Team']
NHLSalary=NHLSalary.reset_index(drop=True)
NHLSalary.head()

          Player Pos   Salary Team
0    Corey Perry   R  8625000  ANA
1   Ryan Getzlaf   C  8250000  ANA
2  Shawn Horcoff  LC  1750000  ANA
3    Ryan Kesler   C  5000000  ANA
4  Chris Stewart   R  1700000  ANA

In [22]:
cap = requests.get("http://www.sportscity.com/nfl/salaries/")
capText = BeautifulSoup(cap.text)
resultCap= capText.find_all("a")
link=[]
for elem in resultCap:
    if elem.has_attr('href'):
        link.append(elem.attrs['href'])

In [156]:
cap = requests.get("http://www.sportscity.com/nba/salaries/")
capText = BeautifulSoup(cap.text)
resultCap= capText.find_all("a")
link=[]
for elem in resultCap:
    if elem.has_attr('href'):
        link.append(elem.attrs['href'])
NBATeam=link[165:195]       
NBA_Salary = pd.DataFrame()
for num in range(len(NBATeam)):
    if num!=2 and num!=17 and num!=23:
        webLink=NBATeam[num]
        r5 = requests.get(webLink)
        text5 = r5.text
        NBASalary=pd.read_html(text5)
        NBASalary=NBASalary[0]
        NBASalary 
        if num%2==1:
            NBASalary=NBASalary.drop(NBASalary.index[0:2])
        elif num==10 or 12:
            NBASalary=NBASalary.drop(NBASalary.index[0:2])
        else:
            NBASalary=NBASalary.drop(NBASalary.index[0:3])
        NBASalary.columns = NBASalary.iloc[0]
        NBASalary=NBASalary.drop(NBASalary.index[0])
        team=webLink.split('-')[1].title()

        NBASalary['Team']=team
        NBASalary = NBASalary.drop(['nan'], axis=1)

        columnsTeam=['Player','2015/16']
        NBASalary=NBASalary.reset_index(drop=True)
        dfNBA = pd.DataFrame()
        dfNBA['Player']=NBASalary['Player']
        dfNBA['2015/16']=NBASalary['2015/16']
        dfNBA['Team']=NBASalary['Team']

        NBA_Salary=NBA_Salary.append(dfNBA)
    
NBA_Salary.head()

0

ValueError: No tables found

In [39]:
NFLTeam=link[168:200]

In [154]:
cap = requests.get("http://www.sportscity.com/nfl/salaries/")
capText = BeautifulSoup(cap.text)
resultCap= capText.find_all("a")
link=[]
for elem in resultCap:
    if elem.has_attr('href'):
        link.append(elem.attrs['href'])
NFLTeam=link[168:200]       
NFL_Salary = pd.DataFrame()
for webLink in NFLTeam:
    r5 = requests.get(webLink)
    text5 = r5.text
    NFLSalary=pd.read_html(text5)
    NFLSalary=NFLSalary[0].copy()
    NFLSalary.columns = NFLSalary.iloc[0]
    NFLSalary=NFLSalary.reindex(NFLSalary.index.drop(0))
    team=webLink.split('-')[1].title()
    NFLSalary=NFLSalary.dropna()
    NFLSalary=NFLSalary[NFLSalary[NFLSalary.columns[2]]!='-']
    NFLSalary=NFLSalary[NFLSalary[NFLSalary.columns[2]]!='UFA']
    NFLSalary=NFLSalary[NFLSalary[NFLSalary.columns[2]]!='RFA']
    NFLSalary=NFLSalary[NFLSalary[NFLSalary.columns[2]]!='ERFA']
    NFLSalary[NFLSalary.columns[2]] = NFLSalary[NFLSalary.columns[2]].str.replace(r'[$,]', '').astype('float')
    
    if NFLSalary.columns[2]=='2015/2016':
        NFLSalary = NFLSalary.rename(columns={'2015/2016': '2015-2016'})
    NFLSalary['Team']=team
    columnsTeam=['PLAYER','2015-2016','Team']
    dfNFL = pd.DataFrame(NFLSalary,index=NFLSalary.index, columns=columnsTeam)
    
    NFL_Salary=NFL_Salary.append(dfNFL)

NFL_Salary.head()

           PLAYER  2015-2016    Team
1    Haloti Ngata   16000000  Ravens
2      Joe Flacco   14550000  Ravens
3  Lardarius Webb   11000000  Ravens
4        Ray Rice    7750000  Ravens
5   Marshal Yanda    8450000  Ravens

## III. Attendance

In [196]:
r4 = requests.get("http://espn.go.com/nba/attendance")
text4 = r4.text
NBAattn_data=pd.read_html(text4)
NBA_attendance=NBAattn_data[0].copy()
NBA_attendance.columns = NBA_attendance.iloc[1]
NBA_attendance=NBA_attendance.reindex(NBA_attendance.index.drop(0))
NBA_attendance=NBA_attendance[NBA_attendance.RK != 'RK'].reset_index(drop=True)

In [204]:
NBA_attendance.head(2)

1 RK       TEAM GMS   TOTAL    AVG    PCT GMS    AVG   PCT GMS    AVG   PCT
0  1      Bulls   6  130800  21800  104.2   8  17164  87.7  14  19150  95.1
1  2  Cavaliers   9  185058  20562  100.0   8  19296  97.2  17  19966  98.7

In [206]:
r5 = requests.get("http://espn.go.com/nfl/attendance")
text5 = r5.text
NFLattn_data=pd.read_html(text5)
NFL_attendance=NFLattn_data[0].copy()
NFL_attendance.columns = NFL_attendance.iloc[1]
NFL_attendance=NFL_attendance.reindex(NFL_attendance.index.drop(0))
NFL_attendance=NFL_attendance[NFL_attendance.RK != 'RK'].reset_index(drop=True)

In [208]:
NFL_attendance.head(2)

1 RK       TEAM GMS   TOTAL    AVG    PCT GMS   TOTAL    AVG    PCT GMS   TOTAL    AVG    PCT
0  1     Dallas   6  551200  91866  114.8   5  351872  70374   99.4  11  903072  82097  108.3
1  2  NY Giants   5  393654  78730   95.4   5  370922  74184  103.2  10  764576  76457   99.1

In [209]:
r6 = requests.get("http://espn.go.com/nhl/attendance")
text6 = r6.text
NHLattn_data=pd.read_html(text6)
NHL_attendance=NHLattn_data[0].copy()
NHL_attendance.columns = NHL_attendance.iloc[1]
NHL_attendance=NHL_attendance.reindex(NHL_attendance.index.drop(0))
NHL_attendance=NHL_attendance[NHL_attendance.RK != 'RK'].reset_index(drop=True)

In [211]:
NHL_attendance.head(2)

1 RK      TEAM GMS   TOTAL    AVG    PCT GMS    AVG   PCT GMS    AVG    PCT
0  1   Chicago  11  238019  21638  109.7  13  16608  93.2  24  18913  101.2
1  2  Montreal  13  276744  21288  100.1  12  17972  99.0  25  19696   99.6