In [8]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
from bs4 import BeautifulSoup
import requests

## II. NHL Salary

In [4]:
cap = requests.get("http://war-on-ice.com/cap/")
capText = BeautifulSoup(cap.text)
resultCap= capText.find_all("a")
link=[]
for elem in resultCap:
    if elem.has_attr('href'):
        link.append(elem.attrs['href'])
linkList=link[6:36]

NHLSalary = pd.DataFrame()
for links in linkList:
    r3 = requests.get(links)
    text3 = r3.text
    NHLsalary_data=pd.read_html(text3)
    NHL_salary=NHLsalary_data[0].copy()
    NHL_salary=NHL_salary.drop(NHL_salary.index[0])
    NHL_salary
    NHL_salary.columns = NHL_salary.iloc[0]
    NHL_salary['team']=links[-8:-5]
    NHL_salary.reset_index(drop=True)
    NHLSalary =NHLSalary.append(NHL_salary)

NHLSalary=NHLSalary.dropna()
NHLSalary=NHLSalary[NHLSalary['2015-16']!='--']
NHLSalary=NHLSalary[NHLSalary['2015-16']!='UFA']
NHLSalary=NHLSalary[NHLSalary['2015-16']!='RFA']
NHLSalary=NHLSalary[NHLSalary['2015-16']!='2015-16']
del NHLSalary[NHLSalary.columns[2]]
del NHLSalary[NHLSalary.columns[2]]
del NHLSalary[NHLSalary.columns[3]]
del NHLSalary[NHLSalary.columns[3]]
del NHLSalary[NHLSalary.columns[3]]
del NHLSalary[NHLSalary.columns[3]]

NHLSalary['2015-16'] = NHLSalary['2015-16'].str.replace(r'[$,]', '').astype('float')

NHLSalary
NHLSalary.columns = [ 'Player', 'Pos', 'Salary', 'Team']
NHLSalary=NHLSalary.reset_index(drop=True)
NHLSalary.head()

          Player Pos   Salary Team
0    Corey Perry   R  8625000  ANA
1   Ryan Getzlaf   C  8250000  ANA
2  Shawn Horcoff  LC  1750000  ANA
3    Ryan Kesler   C  5000000  ANA
4  Chris Stewart   R  1700000  ANA

## II. NFL Salary

In [23]:
cap = requests.get("http://www.sportscity.com/nfl/salaries/")
capText = BeautifulSoup(cap.text)
resultCap= capText.find_all("a")
link=[]
for elem in resultCap:
    if elem.has_attr('href'):
        link.append(elem.attrs['href'])
beginLink= link.index('http://www.sportscity.com/nfl/salaries/baltimore-ravens-salaries/')        
NFLTeam=link[beginLink:beginLink+32]    
NFL_Salary = pd.DataFrame()
for webLink in NFLTeam:
    
    r5 = requests.get(webLink)
    text5 = r5.text
    NFLSalary=pd.read_html(text5)
    NFLSalary=NFLSalary[0].copy()
    NFLSalary.columns = NFLSalary.iloc[0]
    NFLSalary=NFLSalary.reindex(NFLSalary.index.drop(0))
    team=webLink.split('-')[1].title()
    NFLSalary=NFLSalary.dropna()
    NFLSalary=NFLSalary[NFLSalary[NFLSalary.columns[2]]!='-']
    NFLSalary=NFLSalary[NFLSalary[NFLSalary.columns[2]]!='UFA']
    NFLSalary=NFLSalary[NFLSalary[NFLSalary.columns[2]]!='RFA']
    NFLSalary=NFLSalary[NFLSalary[NFLSalary.columns[2]]!='ERFA']
    NFLSalary[NFLSalary.columns[2]] = NFLSalary[NFLSalary.columns[2]].str.replace(r'[$,]', '').astype('float')
    
    if NFLSalary.columns[2]=='2015/2016':
        NFLSalary = NFLSalary.rename(columns={'2015/2016': '2015-2016'})
    NFLSalary['Team']=team
    columnsTeam=['PLAYER','2015-2016','Team']
    dfNFL = pd.DataFrame(NFLSalary,index=NFLSalary.index, columns=columnsTeam)
    
    NFL_Salary=NFL_Salary.append(dfNFL)

NFL_Salary.head()

           PLAYER  2015-2016    Team
1    Haloti Ngata   16000000  Ravens
2      Joe Flacco   14550000  Ravens
3  Lardarius Webb   11000000  Ravens
4        Ray Rice    7750000  Ravens
5   Marshal Yanda    8450000  Ravens

## II. NBA Salary

In [24]:
cap = requests.get("http://www.sportscity.com/nba/salaries/")
capText = BeautifulSoup(cap.text)
resultCap= capText.find_all("a")
link=[]
for elem in resultCap:
    if elem.has_attr('href'):
        link.append(elem.attrs['href'])
beginLink= link.index('http://www.sportscity.com/nba/salaries/atlanta-hawks-salaries/')
NBATeam=link[beginLink:beginLink+30]       
NBA_Salary = pd.DataFrame()
for num in range(len(NBATeam)):
    if num!=2 and num!=17 and num!=23:
        webLink=NBATeam[num]
        r5 = requests.get(webLink)
        text5 = r5.text
        NBASalary=pd.read_html(text5)
        NBASalary=NBASalary[0]
        NBASalary 
        if num%2==1:
            NBASalary=NBASalary.drop(NBASalary.index[0:2])
        elif num==10 or 12:
            NBASalary=NBASalary.drop(NBASalary.index[0:2])
        else:
            NBASalary=NBASalary.drop(NBASalary.index[0:3])
        NBASalary.columns = NBASalary.iloc[0]
        NBASalary=NBASalary.drop(NBASalary.index[0])
        team=webLink.split('-')[1].title()

        NBASalary['Team']=team
        NBASalary = NBASalary.drop(['nan'], axis=1)

        columnsTeam=['Player','2015/16']
        NBASalary=NBASalary.reset_index(drop=True)
        dfNBA = pd.DataFrame()
        dfNBA['Player']=NBASalary['Player']
        dfNBA['2015/16']=NBASalary['2015/16']
        dfNBA['Team']=NBASalary['Team']

        NBA_Salary=NBA_Salary.append(dfNBA)
    
NBA_Salary.head()

        Player     2015/16   Team
0      2014/15     2016/17  Hawks
1  $12,000,000           -  Hawks
2   $9,500,000           -  Hawks
3   $8,000,000  $8,000,000  Hawks
4   $6,253,521  $5,239,437  Hawks