In [3]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
from bs4 import BeautifulSoup
import requests

In [132]:
web='https://en.wikipedia.org/wiki/List_of_American_and_Canadian_cities_by_number_of_major_professional_sports_franchises#cite_note-CFL_teams-8'
cap = requests.get(web)
capText = BeautifulSoup(cap.text)
resultCap= capText.find_all("table",{'class':"wikitable sortable"})[0]

p = resultCap.find_all('tr')
paragraphs = []
for num in range(len(p)):
    if num==0:
        elem=p[num].find_all('th')
    else:
        elem=p[num].find_all('td')
    result=[]
    for elem1 in elem:
        result.append(elem1)
    paragraphs.append(result)
paragraphs
import re
CLEAN = re.compile('\s+')
newpar=[]
for elem in paragraphs:
    elem = [CLEAN.sub(' ', a.text).strip() for a in elem]
    newpar.append(elem)

numCity = pd.DataFrame(newpar)
numCity.columns = numCity.iloc[0]
numCity=numCity.drop(numCity.index[0])
numCity
columnsTeam=[numCity.columns[0],numCity.columns[3],numCity.columns[4],numCity.columns[5],numCity.columns[6]]

numCity[numCity.columns[6]] = numCity[numCity.columns[6]].str[:1]
numCity[numCity.columns[7]] = numCity[numCity.columns[7]].str[:1]
numCity[numCity.columns[8]] = numCity[numCity.columns[8]].str[:1]
numCity[numCity.columns[9]] = numCity[numCity.columns[9]].str[:1]
numCity

columnsTeam=[numCity.columns[0],numCity.columns[3],numCity.columns[4],numCity.columns[5],numCity.columns[6],numCity.columns[7],numCity.columns[8],numCity.columns[9]]
dfCity = pd.DataFrame(numCity,index=numCity.index, columns=columnsTeam)
dfCity.columns = ['City','Population','B4','B6','NFL','MLB','NBA','NHL']
dfCity

                      City  Population   B4   B6 NFL MLB NBA NHL
1            New York City  20,630,000    9   11   2   2   2   3
2              Los Angeles  15,058,000    6    7   0   2   2   2
3   San Francisco Bay Area   5,929,000    6    7   2   2   1   1
4                  Chicago   9,156,000    5    6   1   2   1   1
5        Dallas-Fort Worth   6,174,000    4    5   1   1   1   1
6             Philadelphia   5,570,000    4    5   1   1   1   1
7         Washington, D.C.   4,889,000    4    5   1   1   1   1
8                   Boston   4,478,000    4    5   1   1   1   1
9                   Denver   2,559,000    4    5   1   1   1   1
10                   Miami   5,764,000    4    4   1   1   1   1
11                 Phoenix   4,194,000    4    4   1   1   1   1
12                 Detroit   3,672,000    4    4   1   1   1   1
13  Minneapolisâ€“Saint Paul   2,771,000    4    4   1   1   1   1
14                 Toronto   6,456,000    3    6   0   1   1   1
15                 Houston   5,764,000    3    4   1   1   1   0
16                 Atlanta   5,015,000    3    3   1   1   1   0
17          Tampa Bay Area   2,621,000    3    3   1   1   0   1
18               St. Louis   2,186,000    3    3   1   1   0   1
19               Cleveland   1,783,000    3    3   1   1   1   0
20              Pittsburgh   1,730,000    3    3   1   1   0   1
21                 Seattle   3,218,000    2    3   1   1   0   0
22             Kansas City   1,593,000    2    3   1   1   0   0
23               San Diego   3,086,000    2    2   1   1   0   0
24               Baltimore   2,263,000    2    2   1   1   0   0
25              Cincinnati   1,682,000    2    2   1   1   0   0
26            Indianapolis   1,617,000    2    2   1   0   1   0
27               Milwaukee   1,408,000    2    2   0   1   1   0
28               Charlotte   1,535,000    2    2   1   0   1   0
29               Nashville   1,081,000    2    2   1   0   0   1
30                 Buffalo     923,000    2    2   1   0   0   1
31             New Orleans     922,000    2    2   1   0   1   0
32                Montreal   3,536,000    1    3   0   0   0   1
33               Vancouver   2,273,000    1    3   0   0   0   1
34                 Orlando   2,040,000    1    2   0   0   1   0
35                Portland   1,976,000    1    2   0   0   1   0
36                Columbus   1,481,000    1    2   0   0   0   1
37                 Calgary   1,189,000    1    2   0   0   0   1
38          Salt Lake City   1,085,000    1    2   0   0   1   0
39                Edmonton   1,040,000    1    2   0   0   0   1
40                  Ottawa     994,000    1    2   0   0   0   1
41                Winnipeg     698,000    1    2   0   0   0   1
42             San Antonio   1,976,000    1    1   0   0   1   0
43              Sacramento   1,885,000    1    1   0   0   1   0
44            Jacksonville   1,154,000    1    1   1   0   0   0
45                 Memphis   1,102,000    1    1   0   0   1   0
46                 Raleigh   1,085,000    1    1   0   0   0   1
47           Oklahoma City     917,000    1    1   0   0   1   0
48               Green Bay     207,000    1    1   1   0   0   0
49                  Regina     193,000    0    1   0   0   0   0
50                  Totals        0 !â€”  122  151   3   3   3   3

In [133]:
import re
web='https://en.wikipedia.org/wiki/List_of_American_and_Canadian_cities_by_number_of_major_professional_sports_franchises#cite_note-CFL_teams-8'
team1 = requests.get(web)
capTable = BeautifulSoup(team1.text)
resultTable= capTable.find_all("table",{'class':"wikitable sortable"})[0]

resultTable = resultTable.find_all('tr')
paragraphs = []
for num in range(len(resultTable)):
    if num==0:
        elem=resultTable[num].find_all('th')
    else:
        elem=resultTable[num].find_all('td')
    result=[]
    for elem1 in elem:
        result.append(elem1)
    paragraphs.append(result)

CLEAN = re.compile('\s+')
newpar=[]
for elem in paragraphs:
    elem = [CLEAN.sub(' ', a.text).strip() for a in elem]
    newpar.append(elem)

numCity = pd.DataFrame(newpar)
numCity.columns = numCity.iloc[0]
numCity=numCity.drop(numCity.index[0])

columnsTeam=[numCity.columns[0],numCity.columns[3],numCity.columns[4],numCity.columns[5],numCity.columns[6]]

numCity[numCity.columns[6]] = numCity[numCity.columns[6]].str[:1]
numCity[numCity.columns[7]] = numCity[numCity.columns[7]].str[:1]
numCity[numCity.columns[8]] = numCity[numCity.columns[8]].str[:1]
numCity[numCity.columns[9]] = numCity[numCity.columns[9]].str[:1]


columnsTeam=[numCity.columns[0],numCity.columns[3],numCity.columns[4],numCity.columns[5],numCity.columns[6],numCity.columns[7],numCity.columns[8],numCity.columns[9]]
dfCity = pd.DataFrame(numCity,index=numCity.index, columns=columnsTeam)
dfCity.columns = ['City','Population','B4','B6','NFL','MLB','NBA','NHL']
dfCity

                      City  Population   B4   B6 NFL MLB NBA NHL
1            New York City  20,630,000    9   11   2   2   2   3
2              Los Angeles  15,058,000    6    7   0   2   2   2
3   San Francisco Bay Area   5,929,000    6    7   2   2   1   1
4                  Chicago   9,156,000    5    6   1   2   1   1
5        Dallas-Fort Worth   6,174,000    4    5   1   1   1   1
6             Philadelphia   5,570,000    4    5   1   1   1   1
7         Washington, D.C.   4,889,000    4    5   1   1   1   1
8                   Boston   4,478,000    4    5   1   1   1   1
9                   Denver   2,559,000    4    5   1   1   1   1
10                   Miami   5,764,000    4    4   1   1   1   1
11                 Phoenix   4,194,000    4    4   1   1   1   1
12                 Detroit   3,672,000    4    4   1   1   1   1
13  Minneapolisâ€“Saint Paul   2,771,000    4    4   1   1   1   1
14                 Toronto   6,456,000    3    6   0   1   1   1
15                 Houston   5,764,000    3    4   1   1   1   0
16                 Atlanta   5,015,000    3    3   1   1   1   0
17          Tampa Bay Area   2,621,000    3    3   1   1   0   1
18               St. Louis   2,186,000    3    3   1   1   0   1
19               Cleveland   1,783,000    3    3   1   1   1   0
20              Pittsburgh   1,730,000    3    3   1   1   0   1
21                 Seattle   3,218,000    2    3   1   1   0   0
22             Kansas City   1,593,000    2    3   1   1   0   0
23               San Diego   3,086,000    2    2   1   1   0   0
24               Baltimore   2,263,000    2    2   1   1   0   0
25              Cincinnati   1,682,000    2    2   1   1   0   0
26            Indianapolis   1,617,000    2    2   1   0   1   0
27               Milwaukee   1,408,000    2    2   0   1   1   0
28               Charlotte   1,535,000    2    2   1   0   1   0
29               Nashville   1,081,000    2    2   1   0   0   1
30                 Buffalo     923,000    2    2   1   0   0   1
31             New Orleans     922,000    2    2   1   0   1   0
32                Montreal   3,536,000    1    3   0   0   0   1
33               Vancouver   2,273,000    1    3   0   0   0   1
34                 Orlando   2,040,000    1    2   0   0   1   0
35                Portland   1,976,000    1    2   0   0   1   0
36                Columbus   1,481,000    1    2   0   0   0   1
37                 Calgary   1,189,000    1    2   0   0   0   1
38          Salt Lake City   1,085,000    1    2   0   0   1   0
39                Edmonton   1,040,000    1    2   0   0   0   1
40                  Ottawa     994,000    1    2   0   0   0   1
41                Winnipeg     698,000    1    2   0   0   0   1
42             San Antonio   1,976,000    1    1   0   0   1   0
43              Sacramento   1,885,000    1    1   0   0   1   0
44            Jacksonville   1,154,000    1    1   1   0   0   0
45                 Memphis   1,102,000    1    1   0   0   1   0
46                 Raleigh   1,085,000    1    1   0   0   0   1
47           Oklahoma City     917,000    1    1   0   0   1   0
48               Green Bay     207,000    1    1   1   0   0   0
49                  Regina     193,000    0    1   0   0   0   0
50                  Totals        0 !â€”  122  151   3   3   3   3

In [41]:
web='https://en.wikipedia.org/wiki/List_of_American_and_Canadian_cities_by_number_of_major_professional_sports_franchises#cite_note-CFL_teams-8'
cap = requests.get(web)
capText = BeautifulSoup(cap.text)
resultCap= capText.find_all("table",{'class':"wikitable sortable"})[1]

p = resultCap.find_all('tr')
paragraphs = []
for num in range(len(p)):
    if num==0:
        elem=p[num].find_all('th')
    else:
        elem=p[num].find_all('td')
    result=[]
    for elem1 in elem:
        result.append(elem1)
    paragraphs.append(result)

import re
CLEAN = re.compile('\s+')
newpar=[]
for elem in paragraphs:
    elem = [CLEAN.sub(' ', a.text).strip() for a in elem]
    newpar.append(elem)

numCity = pd.DataFrame(newpar)
numCity.columns = numCity.iloc[0]
numCity=numCity.drop(numCity.index[0])

columnsTeam=[numCity.columns[0],numCity.columns[3],numCity.columns[4],numCity.columns[5],numCity.columns[6]]
dfCity = pd.DataFrame(numCity,index=numCity.index, columns=columnsTeam)

dfCity[dfCity.columns[1]] = dfCity[dfCity.columns[1]].str[:1]
dfCity[dfCity.columns[2]] = dfCity[dfCity.columns[2]].str[:1]
dfCity[dfCity.columns[3]] = dfCity[dfCity.columns[3]].str[:1]
dfCity[dfCity.columns[4]] = dfCity[dfCity.columns[4]].str[:1]
dfCity=dfCity.drop(dfCity.index[len(dfCity)-1])

dfCity.columns = ['State','NFL','MLB','NBA','NHL']
dfCity

<type 'unicode'>

In [ ]:
cap = requests.get("http://war-on-ice.com/cap/")
capText = BeautifulSoup(cap.text)
resultCap= capText.find_all("a")
link=[]
for elem in resultCap:
    if elem.has_attr('href'):
        link.append(elem.attrs['href'])
linkList=link[6:36]

NHLSalary = pd.DataFrame()
for links in linkList:
    r3 = requests.get(links)
    text3 = r3.text
    NHLsalary_data=pd.read_html(text3)
    NHL_salary=NHLsalary_data[0].copy()
    NHL_salary=NHL_salary.drop(NHL_salary.index[0])
    NHL_salary
    NHL_salary.columns = NHL_salary.iloc[0]
    NHL_salary['team']=links[-8:-5]
    NHL_salary.reset_index(drop=True)
    NHLSalary =NHLSalary.append(NHL_salary)

NHLSalary=NHLSalary.dropna()
NHLSalary=NHLSalary[NHLSalary['2015-16']!='--']
NHLSalary=NHLSalary[NHLSalary['2015-16']!='UFA']
NHLSalary=NHLSalary[NHLSalary['2015-16']!='RFA']
NHLSalary=NHLSalary[NHLSalary['2015-16']!='2015-16']
del NHLSalary[NHLSalary.columns[2]]
del NHLSalary[NHLSalary.columns[2]]
del NHLSalary[NHLSalary.columns[3]]
del NHLSalary[NHLSalary.columns[3]]
del NHLSalary[NHLSalary.columns[3]]
del NHLSalary[NHLSalary.columns[3]]

NHLSalary['2015-16'] = NHLSalary['2015-16'].str.replace(r'[$,]', '').astype('float')

NHLSalary
NHLSalary.columns = [ 'Player', 'Pos', 'Salary', 'Team']
NHLSalary=NHLSalary.reset_index(drop=True)
NHLSalary.head()