In [362]:
import pandas as pd
import numpy as np

import pylab as pl
from sklearn.neighbors import KNeighborsClassifier

In [363]:
df_age_19=pd.read_csv('AgeData/df_age_19.csv',index_col=0)
df_age_20=pd.read_csv('AgeData/df_age_20.csv',index_col=0)
df_age_21=pd.read_csv('AgeData/df_age_21.csv',index_col=0)
df_age_22=pd.read_csv('AgeData/df_age_22.csv',index_col=0)
df_age_23=pd.read_csv('AgeData/df_age_23.csv',index_col=0)
df_age_24=pd.read_csv('AgeData/df_age_24.csv',index_col=0)
df_age_25=pd.read_csv('AgeData/df_age_25.csv',index_col=0)
df_age_26=pd.read_csv('AgeData/df_age_26.csv',index_col=0)
df_age_27=pd.read_csv('AgeData/df_age_27.csv',index_col=0)
df_age_28=pd.read_csv('AgeData/df_age_28.csv',index_col=0)
df_age_29=pd.read_csv('AgeData/df_age_29.csv',index_col=0)

df_age_30=pd.read_csv('AgeData/df_age_30.csv',index_col=0)
df_age_31=pd.read_csv('AgeData/df_age_31.csv',index_col=0)
df_age_32=pd.read_csv('AgeData/df_age_32.csv',index_col=0)
df_age_33=pd.read_csv('AgeData/df_age_33.csv',index_col=0)
df_age_34=pd.read_csv('AgeData/df_age_34.csv',index_col=0)
df_age_35=pd.read_csv('AgeData/df_age_35.csv',index_col=0)
df_age_36=pd.read_csv('AgeData/df_age_36.csv',index_col=0)
df_age_37=pd.read_csv('AgeData/df_age_37.csv',index_col=0)
df_age_38=pd.read_csv('AgeData/df_age_38.csv',index_col=0)
df_age_39=pd.read_csv('AgeData/df_age_39.csv',index_col=0)

In [364]:
dfplayer1996=pd.read_csv('dfplayer1996.csv')
dfplayer1997=pd.read_csv('dfplayer1997.csv')
dfplayer1998=pd.read_csv('dfplayer1998.csv')
dfplayer1999=pd.read_csv('dfplayer1999.csv')

dfplayer2000=pd.read_csv('dfplayer2000.csv')
dfplayer2001=pd.read_csv('dfplayer2001.csv')
dfplayer2002=pd.read_csv('dfplayer2002.csv')
dfplayer2003=pd.read_csv('dfplayer2003.csv')
dfplayer2004=pd.read_csv('dfplayer2004.csv')

dfplayer2005=pd.read_csv('dfplayer2005.csv')
dfplayer2006=pd.read_csv('dfplayer2006.csv')
dfplayer2007=pd.read_csv('dfplayer2007.csv')
dfplayer2008=pd.read_csv('dfplayer2008.csv')
dfplayer2009=pd.read_csv('dfplayer2009.csv')

dfplayer2010=pd.read_csv('dfplayer2010.csv')
dfplayer2011=pd.read_csv('dfplayer2011.csv')
dfplayer2012=pd.read_csv('dfplayer2012.csv')
dfplayer2013=pd.read_csv('dfplayer2013.csv')
dfplayer2014=pd.read_csv('dfplayer2014.csv')

dfplayer2015=pd.read_csv('dfplayer2015.csv')

In [365]:
namePlayer=[]
for elem in dfplayer1996['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer1996['name']=namePlayer

del dfplayer1996['Unnamed: 0']
del dfplayer1996['url']
del dfplayer1996['draft']
del dfplayer1996['shot']
del dfplayer1996['pos']


namePlayer=[]
for elem in dfplayer1997['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer1997['name']=namePlayer

del dfplayer1997['Unnamed: 0']
del dfplayer1997['url']
del dfplayer1997['draft']
del dfplayer1997['shot']
del dfplayer1997['pos']

namePlayer=[]
for elem in dfplayer1998['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer1998['name']=namePlayer

del dfplayer1998['Unnamed: 0']
del dfplayer1998['url']
del dfplayer1998['draft']
del dfplayer1998['shot']
del dfplayer1998['pos']

namePlayer=[]
for elem in dfplayer1999['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer1999['name']=namePlayer

del dfplayer1999['Unnamed: 0']
del dfplayer1999['url']
del dfplayer1999['draft']
del dfplayer1999['shot']
del dfplayer1999['pos']

namePlayer=[]
for elem in dfplayer2000['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2000['name']=namePlayer

del dfplayer2000['Unnamed: 0']
del dfplayer2000['url']
del dfplayer2000['draft']
del dfplayer2000['shot']
del dfplayer2000['pos']

namePlayer=[]
for elem in dfplayer2001['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2001['name']=namePlayer

del dfplayer2001['Unnamed: 0']
del dfplayer2001['url']
del dfplayer2001['draft']
del dfplayer2001['shot']
del dfplayer2001['pos']

namePlayer=[]
for elem in dfplayer2002['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2002['name']=namePlayer

del dfplayer2002['Unnamed: 0']
del dfplayer2002['url']
del dfplayer2002['draft']
del dfplayer2002['shot']
del dfplayer2002['pos']

namePlayer=[]
for elem in dfplayer2003['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2003['name']=namePlayer

del dfplayer2003['Unnamed: 0']
del dfplayer2003['url']
del dfplayer2003['draft']
del dfplayer2003['shot']
del dfplayer2003['pos']

namePlayer=[]
for elem in dfplayer2004['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2004['name']=namePlayer

del dfplayer2004['Unnamed: 0']
del dfplayer2004['url']
del dfplayer2004['draft']
del dfplayer2004['shot']
del dfplayer2004['pos']

namePlayer=[]
for elem in dfplayer2005['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2005['name']=namePlayer

del dfplayer2005['Unnamed: 0']
del dfplayer2005['url']
del dfplayer2005['draft']
del dfplayer2005['shot']
del dfplayer2005['pos']

namePlayer=[]
for elem in dfplayer2006['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2006['name']=namePlayer

del dfplayer2006['Unnamed: 0']
del dfplayer2006['url']
del dfplayer2006['draft']
del dfplayer2006['shot']
del dfplayer2006['pos']

namePlayer=[]
for elem in dfplayer2007['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2007['name']=namePlayer

del dfplayer2007['Unnamed: 0']
del dfplayer2007['url']
del dfplayer2007['draft']
del dfplayer2007['shot']
del dfplayer2007['pos']

namePlayer=[]
for elem in dfplayer2008['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2008['name']=namePlayer

del dfplayer2008['Unnamed: 0']
del dfplayer2008['url']
del dfplayer2008['draft']
del dfplayer2008['shot']
del dfplayer2008['pos']

namePlayer=[]
for elem in dfplayer2009['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2009['name']=namePlayer

del dfplayer2009['Unnamed: 0']
del dfplayer2009['url']
del dfplayer2009['draft']
del dfplayer2009['shot']
del dfplayer2009['pos']

namePlayer=[]
for elem in dfplayer2010['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2010['name']=namePlayer

del dfplayer2010['Unnamed: 0']
del dfplayer2010['url']
del dfplayer2010['draft']
del dfplayer2010['shot']
del dfplayer2010['pos']

namePlayer=[]
for elem in dfplayer2011['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2011['name']=namePlayer

del dfplayer2011['Unnamed: 0']
del dfplayer2011['url']
del dfplayer2011['draft']
del dfplayer2011['shot']
del dfplayer2011['pos']

namePlayer=[]
for elem in dfplayer2012['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2012['name']=namePlayer

del dfplayer2012['Unnamed: 0']
del dfplayer2012['url']
del dfplayer2012['draft']
del dfplayer2012['shot']
del dfplayer2012['pos']

namePlayer=[]
for elem in dfplayer2013['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2013['name']=namePlayer

del dfplayer2013['Unnamed: 0']
del dfplayer2013['url']
del dfplayer2013['draft']
del dfplayer2013['shot']
del dfplayer2013['pos']

namePlayer=[]
for elem in dfplayer2014['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2014['name']=namePlayer

del dfplayer2014['Unnamed: 0']
del dfplayer2014['url']
del dfplayer2014['draft']
del dfplayer2014['shot']
del dfplayer2014['pos']

namePlayer=[]
for elem in dfplayer2015['url']:
    namePlayer.append(elem[11:-5])
    
dfplayer2015['name']=namePlayer

del dfplayer2015['Unnamed: 0']
del dfplayer2015['url']
del dfplayer2015['draft']
del dfplayer2015['shot']
del dfplayer2015['pos']

In [366]:
fundam = [dfplayer1996,dfplayer1997,dfplayer1998,dfplayer1999,dfplayer2000,dfplayer2001,dfplayer2002,
dfplayer2003,dfplayer2004,dfplayer2005,dfplayer2006,dfplayer2007,dfplayer2008,dfplayer2009,dfplayer2010,
dfplayer2011,dfplayer2012,dfplayer2013,dfplayer2014,dfplayer2015]



df_all_fundam = pd.concat(fundam)

In [367]:
df_all_fundam=df_all_fundam.reset_index(drop=True)

In [368]:
df_all_fundam = df_all_fundam[df_all_fundam.height!= 'ml>']

In [369]:
df_all_fundam=df_all_fundam.reset_index(drop=True)
weight_all=df_all_fundam['weight']
height_all=df_all_fundam['height']

In [370]:
df_all_fundam[['weight','height']]=df_all_fundam[['weight','height']].astype(float)

In [371]:
frames = [df_age_19, df_age_20, df_age_21,df_age_22,df_age_23,df_age_24,df_age_25,df_age_26,df_age_27,df_age_28,
         df_age_29,df_age_30,df_age_31,df_age_32,df_age_33,df_age_34,df_age_35,df_age_36,df_age_37,df_age_38,df_age_39]
df_all = pd.concat(frames)

In [372]:
df_all=df_all.reset_index(drop=True)

In [373]:
del df_all['age_x']

In [374]:
df_all['goals_all']=df_all['goals_ev']+df_all['goals_pp']+df_all['goals_sh']

In [375]:
result=df_all.sort(['name', 'age_y'], ascending=[0, 1])

In [376]:
result.head()

,TOT,age_y,assists_ev,assists_pp,assists_sh,blocks,corsi_against,corsi_for,corsi_pct,corsi_rel_pct,...,shot_pct,shot_pct.1,shots_attempted,shots_attempted.1,takeaways,time_on_ice_avg,uniqueseason,zs_defense_pct,zs_offense_pct,goals_all
5478,CHI,30,2,1,0,35,312,275,46.8,-7.0,...,5.9,5.9,68,NaN,6,14.58,1,54.2,45.8,2
416,MIN,20,2,0,0,2,73,40,35.4,-8.8,...,0.0,0.0,16,16,2,11.02,1,48.3,51.7,0
894,MIN,21,1,0,0,5,216,183,45.9,-6.6,...,11.8,11.8,58,58,4,11.16,1,58.4,41.6,4
1516,MIN,22,0,1,0,11,259,198,43.3,-5.0,...,10.0,10.0,68,68,9,12.59,1,42.7,57.3,4
2221,MIN,23,5,0,0,13,547,641,54.0,2.6,...,16.9,16.9,193,193,21,15.04,1,46.2,53.8,21

In [377]:
result=result.reset_index(drop=True)

In [378]:
result['goals_all']=result['goals_all']/result['games_played']

In [379]:
goals_all_data=list(result['goals_all'])

In [380]:
goals_all_data.pop(0)
goals_all_data.append(0)

In [381]:
result['goals_all']=goals_all_data

In [382]:
df_all=result.groupby("name").apply(lambda x: x.iloc[:-1]).reset_index(drop=True)

In [383]:
df_all = pd.merge(df_all, df_all_fundam, on='name')

In [384]:
df_all=df_all.drop_duplicates()

In [385]:
df_all.head()

,TOT,age_y,assists_ev,assists_pp,assists_sh,blocks,corsi_against,corsi_for,corsi_pct,corsi_rel_pct,...,shots_attempted,shots_attempted.1,takeaways,time_on_ice_avg,uniqueseason,zs_defense_pct,zs_offense_pct,goals_all,height,weight
0,DET,20,0,0,0,0,18,19,51.4,-10.0,...,8,8,1,12.13,1,40.0,60.0,0.000000,188,218
1,DET,21,0,0,0,0,9,22,71.0,14.6,...,7,7,0,9.18,1,33.3,66.7,0.060000,188,218
2,DET,22,3,0,0,20,376,409,52.1,-2.2,...,141,141,7,10.35,1,33.7,66.3,0.094595,188,218
3,DET,23,11,0,1,39,628,765,54.9,-0.4,...,226,226,17,12.18,1,41.2,58.8,0.098765,188,218
4,DET,24,14,0,0,42,698,794,53.2,-3.2,...,196,196,16,12.19,1,40.7,59.3,0.208333,188,218

In [386]:
#df_all['goals_all']=df_all['goals_all']
df_all['goals_ev']=df_all['goals_ev']/df_all['games_played']
df_all['goals_pp']=df_all['goals_pp']/df_all['games_played']
df_all['goals_sh']=df_all['goals_sh']/df_all['games_played']

df_all['assists_all']=df_all['assists_ev']+df_all['assists_pp']+df_all['assists_sh']
df_all['assists_all']=df_all['assists_all']/df_all['games_played']
df_all['assists_ev']=df_all['assists_ev']/df_all['games_played']
df_all['assists_pp']=df_all['assists_pp']/df_all['games_played']
df_all['assists_sh']=df_all['assists_sh']/df_all['games_played']

df_all['zs_offense_pct']=df_all['zs_offense_pct']/100.0
df_all['shot_pct']=df_all['shot_pct']/100.0
df_all['takeaways']=df_all['takeaways']/df_all['games_played']
df_all['hits']=df_all['hits']/df_all['games_played']

df_all['giveaways']=df_all['giveaways']/df_all['games_played']
df_all['blocks']=df_all['blocks']/df_all['games_played']

df_all['shots_attempted']=df_all['shots_attempted']/df_all['games_played']

In [387]:
df_all.head()

,TOT,age_y,assists_ev,assists_pp,assists_sh,blocks,corsi_against,corsi_for,corsi_pct,corsi_rel_pct,...,shots_attempted.1,takeaways,time_on_ice_avg,uniqueseason,zs_defense_pct,zs_offense_pct,goals_all,height,weight,assists_all
0,DET,20,0.000000,0,0.000000,0.000000,18,19,51.4,-10.0,...,8,0.500000,12.13,1,40.0,0.600,0.000000,188,218,0.000000
1,DET,21,0.000000,0,0.000000,0.000000,9,22,71.0,14.6,...,7,0.000000,9.18,1,33.3,0.667,0.060000,188,218,0.000000
2,DET,22,0.060000,0,0.000000,0.400000,376,409,52.1,-2.2,...,141,0.140000,10.35,1,33.7,0.663,0.094595,188,218,0.060000
3,DET,23,0.148649,0,0.013514,0.527027,628,765,54.9,-0.4,...,226,0.229730,12.18,1,41.2,0.588,0.098765,188,218,0.162162
4,DET,24,0.172840,0,0.000000,0.518519,698,794,53.2,-3.2,...,196,0.197531,12.19,1,40.7,0.593,0.208333,188,218,0.172840

In [388]:
df_all_nn=df_all[['goals_all','goals_ev','goals_pp','goals_sh','assists_ev','assists_pp','assists_sh','shots_attempted','age_y','blocks',
                 'giveaways','hits','shot_pct','shots_attempted','takeaways','zs_offense_pct','height','weight']]

In [389]:
df_all_nn.head()

,goals_all,goals_ev,goals_pp,goals_sh,assists_ev,assists_pp,assists_sh,shots_attempted,age_y,blocks,giveaways,hits,shot_pct,shots_attempted,takeaways,zs_offense_pct,height,weight
0,0.000000,0.000000,0,0,0.000000,0,0.000000,4.000000,20,0.000000,0.00000,2.500000,0.000,4.000000,0.500000,0.600,188,218
1,0.060000,0.000000,0,0,0.000000,0,0.000000,3.500000,21,0.000000,0.50000,1.500000,0.000,3.500000,0.000000,0.667,188,218
2,0.094595,0.060000,0,0,0.060000,0,0.000000,2.820000,22,0.400000,0.14000,3.040000,0.038,2.820000,0.140000,0.663,188,218
3,0.098765,0.094595,0,0,0.148649,0,0.013514,3.054054,23,0.527027,0.27027,2.540541,0.054,3.054054,0.229730,0.588,188,218
4,0.208333,0.098765,0,0,0.172840,0,0.000000,2.419753,24,0.518519,0.17284,1.827160,0.066,2.419753,0.197531,0.593,188,218

In [390]:
cols_to_norm = ['goals_ev','goals_pp','goals_sh','assists_ev','assists_pp','assists_sh','shots_attempted','age_y','blocks','giveaways',
               'hits','shot_pct','shots_attempted','takeaways','zs_offense_pct','height','weight']
df_all_nn_2=df_all_nn[cols_to_norm].apply(lambda x: (x - x.mean()) / (x.max() - x.min()))

In [391]:
df_all_nn_2.head()

,goals_ev,goals_pp,goals_sh,assists_ev,assists_pp,assists_sh,shots_attempted,shots_attempted,age_y,blocks,giveaways,hits,shot_pct,shots_attempted,shots_attempted,takeaways,zs_offense_pct,height,weight
0,-0.108012,-0.032897,-0.008061,-0.177088,-0.062086,-0.020775,0.092108,0.092108,-0.290891,-0.203475,-0.136367,0.173870,-0.080549,0.092108,0.092108,0.079107,0.091405,0.047091,0.125788
1,-0.108012,-0.032897,-0.008061,-0.177088,-0.062086,-0.020775,0.046275,0.046275,-0.238260,-0.203475,0.030300,0.031013,-0.080549,0.046275,0.046275,-0.213862,0.158405,0.047091,0.125788
2,-0.048012,-0.032897,-0.008061,-0.117088,-0.062086,-0.020775,-0.016057,-0.016057,-0.185628,-0.091814,-0.089700,0.251013,-0.042549,-0.016057,-0.016057,-0.131830,0.154405,0.047091,0.125788
3,-0.013418,-0.032897,-0.008061,-0.028439,-0.062086,0.046792,0.005397,0.005397,-0.132997,-0.056354,-0.046277,0.179662,-0.026549,0.005397,0.005397,-0.079254,0.079405,0.047091,0.125788
4,-0.009247,-0.032897,-0.008061,-0.004248,-0.062086,-0.020775,-0.052746,-0.052746,-0.080365,-0.058730,-0.078754,0.077751,-0.014549,-0.052746,-0.052746,-0.098121,0.084405,0.047091,0.125788

In [392]:
df_all_nn_2['goals_all']=df_all_nn['goals_all']

In [393]:
df_all_nn_2['age_y'] = df_all_nn_2['age_y'].apply(lambda x: abs(x))

In [394]:
df_all_nn_2=df_all_nn_2.reset_index(drop=True)

In [395]:
import pandas as pd
import pylab as pl
from sklearn.neighbors import KNeighborsClassifier

In [396]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet

In [397]:
import statsmodels.api as sm

In [398]:

features = ['goals_pp','goals_ev','goals_sh','assists_ev','assists_pp','assists_sh','age_y',
               'hits','shots_attempted','takeaways','zs_offense_pct','weight','height']

alpha_val=[1e-8, 1e-6, 1e-5, 1e-4, 5e-4, 1e-3, 1e-2]
results_all_OLR=[]

result=[]
for k in range(0,100):
    test_idx = np.random.uniform(0, 1, len(df_all_nn_2)) <= 0.8
    train = df_all_nn_2[test_idx==True]
    test = df_all_nn_2[test_idx==False]

    train_goals_all=list(train['goals_all'])
    train_data=train[features].as_matrix()
    #train_data=np.array(train_data).tolist()
    test_data=test[features].as_matrix()
    #test_data=np.array(test_data).tolist()

    model=sm.OLS(train_goals_all,train_data).fit()
    
    #clfridge = Lasso(alpha=alphaval).fit(train_data,train_goals_all)

    preds = model.predict(test_data)
    test_goals_all=list(test['goals_all'])
    distance=0
    for i in range(len(preds)):
        if preds[i]<0:
            distance += pow((test_goals_all[i]), 2)
        else:    
            distance += pow((test_goals_all[i]-preds[i]), 2)


    result.append(distance)
    
    #results_all_OLR.append()
    
print sum(result)/(len(result)*len(preds))

0.0119032566728

In [399]:
min(preds)

-0.13555112852123682

In [400]:
max(preds)

0.63213888882667446

In [401]:

features = ['goals_pp','goals_ev','goals_sh','assists_ev','assists_pp','assists_sh','age_y',
               'hits','shots_attempted','takeaways','zs_offense_pct','weight','height']
alpha_val=[1e-8, 1e-6, 1e-5, 1e-4, 5e-4, 1e-3, 1e-2]
results_all_ridge=[]

for alphaval in alpha_val:
    result=[]
    
    for k in range(0,20):
        test_idx = np.random.uniform(0, 1, len(df_all_nn_2)) <= 0.8
        train = df_all_nn_2[test_idx==True]
        test = df_all_nn_2[test_idx==False]

        train_goals_all=list(train['goals_all'])
        train_data=train[features].as_matrix()
        #train_data=np.array(train_data).tolist()
        test_data=test[features].as_matrix()
        #test_data=np.array(test_data).tolist()

        clfridge = Lasso(alpha=alphaval).fit(train_data,train_goals_all)

        preds = clfridge.predict(test_data)
        test_goals_all=list(test['goals_all'])
        distance=0
        for i in range(len(preds)):
            distance += pow((test_goals_all[i]-preds[i]), 2)

        
        result.append(distance)
    
    results_all_ridge.append([alphaval, sum(result)/(len(result)*len(preds))])
    
print results_all_ridge

[[1e-08, 0.0074654340554377117], [1e-06, 0.0073940162527109327], [1e-05, 0.0070776685752377468], [0.0001, 0.0069813736612901094], [0.0005, 0.0069904594236609077], [0.001, 0.0076062537958700004], [0.01, 0.015726254509208292]]

In [402]:
results_df_ridge = pd.DataFrame(results_all_ridge, columns=["Penalty", "error"])

pl.plot(results_df_ridge.Penalty, results_df_ridge.error)
pl.title("Error with Increasing Penalty (Ridge)")
pl.xlabel('Penalty')
pl.ylabel('Error')
pl.show()

In [403]:
results_df_ridge

        Penalty     error
0  1.000000e-08  0.007465
1  1.000000e-06  0.007394
2  1.000000e-05  0.007078
3  1.000000e-04  0.006981
4  5.000000e-04  0.006990
5  1.000000e-03  0.007606
6  1.000000e-02  0.015726

In [423]:

features = ['goals_pp','goals_ev','goals_sh','assists_ev','assists_pp','assists_sh','age_y',
               'hits','shots_attempted','takeaways','zs_offense_pct','weight','height']
alpha_val=[1e-8, 1e-6, 1e-5, 1e-4, 5e-4, 1e-3, 1e-2]
#alpha_val=[1e-8]
results_all_lasso=[]
dict_coef={}
dict_coef_sum={}


for i in range(len(clflasso.coef_)):
    dict_coef[i]=0
    dict_coef_sum[i]=0
    
for alphaval in alpha_val:
    result=[]
    
    for k in range(0,100):
        test_idx = np.random.uniform(0, 1, len(df_all_nn_2)) <= 0.8
        train = df_all_nn_2[test_idx==True]
        test = df_all_nn_2[test_idx==False]

        train_goals_all=list(train['goals_all'])
        train_data=train[features].as_matrix()
        #train_data=np.array(train_data).tolist()
        test_data=test[features].as_matrix()
        #test_data=np.array(test_data).tolist()

        clflasso = Lasso(alpha=alphaval).fit(train_data,train_goals_all)
        coeffs=clflasso.coef_
        
        for elem in range(len(coeffs)):
            if coeffs[elem]==0:
                dict_coef[elem]=dict_coef[elem]+1
            dict_coef_sum[elem]=dict_coef_sum[elem]+coeffs[elem]/float(800)
            
        preds = clflasso.predict(test_data)
        test_goals_all=list(test['goals_all'])
        distance=0
        for i in range(len(preds)):
            distance += pow((test_goals_all[i]-preds[i]), 2)

        
        result.append(distance)
    
    results_all_lasso.append([alphaval, sum(result)/(len(result)*len(preds))])
    
print results_all_lasso

[[1e-08, 0.0071786626004433328], [1e-06, 0.0070957572852843789], [1e-05, 0.0069424989503693545], [0.0001, 0.0071890635598187641], [0.0005, 0.0069031835012439953], [0.001, 0.0074691859306673927], [0.01, 0.01586156798709859]]

In [415]:
train.columns

Index([u'goals_ev', u'goals_pp', u'goals_sh', u'assists_ev', u'assists_pp',
       u'assists_sh', u'shots_attempted', u'shots_attempted', u'age_y',
       u'blocks', u'giveaways', u'hits', u'shot_pct', u'shots_attempted',
       u'shots_attempted', u'takeaways', u'zs_offense_pct', u'height',
       u'weight', u'goals_all'],
      dtype='object')

In [411]:
len(features)

13

In [424]:
dict_coef_sum

{0: 0.4328643636315328,
 1: 0.35096775448022421,
 2: 0.079668221553781032,
 3: 0.035011446349379256,
 4: -0.0068223756012199058,
 5: -0.0068759302095574735,
 6: -0.0048746485310280623,
 7: -0.011930205863969314,
 8: 0.13297063809778828,
 9: 1.2013493290376866e-16,
 10: 4.0546755513925232e-18,
 11: 2.5004648502714092e-18,
 12: 0.086810096686060406,
 13: 0.021833196359791206,
 14: 0.0018922526014202362,
 15: -0.011403330958065111}

In [425]:
dict(zip(train[features].columns, dict_coef_sum.values()))

{'age_y': -0.0048746485310280623,
 'assists_ev': 0.035011446349379256,
 'assists_pp': -0.0068223756012199058,
 'assists_sh': -0.0068759302095574735,
 'goals_ev': 0.35096775448022421,
 'goals_pp': 0.4328643636315328,
 'goals_sh': 0.079668221553781032,
 'height': -0.011403330958065111,
 'hits': -0.011930205863969314,
 'shots_attempted': 2.5004648502714092e-18,
 'takeaways': 0.086810096686060406,
 'weight': 0.0018922526014202362,
 'zs_offense_pct': 0.021833196359791206}

In [419]:
dict_coef.values()

[0, 0, 0, 0, 0, 1, 1, 0, 0, 49, 85, 85, 0]

In [339]:
results_df_lasso = pd.DataFrame(results_all_lasso, columns=["Penalty", "error"])

pl.plot(results_df_lasso.Penalty, results_df_lasso.error)
pl.title("Error with Increasing Penalty (Lasso)")
pl.xlabel('Penalty')
pl.ylabel('Error')
pl.show()

In [340]:
results_df_lasso

        Penalty     error
0  1.000000e-08  0.006994
1  1.000000e-06  0.007124
2  1.000000e-05  0.007175
3  1.000000e-04  0.007429
4  5.000000e-04  0.006913
5  1.000000e-03  0.007375
6  1.000000e-02  0.016366

In [344]:
len(clflasso.coef_)

16

In [347]:
dict_coef={}
for i in range(len(clflasso.coef_)):
    dict_coef[i]=0

In [348]:
coeffs=clflasso.coef_

In [353]:

for elem in range(len(coeffs)):
    if coeffs[elem]==0:
        dict_coef[elem]=dict_coef[elem]+1

print dict_coef

{0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 0, 9: 0, 10: 1, 11: 1, 12: 1, 13: 1, 14: 1, 15: 1}