In [1]:
import pandas as pd
import numpy as np
import os
from sklearn import neighbors
from sklearn import cluster, datasets
from sklearn import decomposition

In [2]:
df_age_24=pd.read_csv('AgeData/df_age_24.csv',index_col=0)

In [3]:
df_age_24.head()

,TOT,age,assists_ev,assists_pp,assists_sh,blocks,corsi_against,corsi_for,corsi_pct,corsi_rel_pct,...,season,shot_pct,shot_pct.1,shots_attempted,shots_attempted.1,takeaways,time_on_ice_avg,uniqueseason,zs_defense_pct,zs_offense_pct
6,DAL,24,29,14,2,59,1162,1266,52.1,1.5,...,2013-14,12.2,12.2,512,512,69,19:09,NaN,44.0,56.0
75,ANA,24,36,14,0,49,1011,1051,51.0,4.8,...,2009-10,12.8,12.8,284,284,39,21:40,NaN,51.0,49.0
172,CHI,24,13,5,2,115,1204,1240,50.7,-1.4,...,2007-08,8.1,8.1,265,265,52,25:34,NaN,48.3,51.7
328,WSH,24,36,23,0,20,1051,1418,57.4,5.7,...,2009-10,13.6,13.6,665,665,66,21:48,NaN,43.8,56.2
338,ANA,24,31,17,1,34,1287,1288,50.0,3.6,...,2009-10,10.0,10.0,450,450,38,21:04,NaN,50.1,49.9

In [4]:
df_age_24['time_on_ice_avg'] = df_age_24['time_on_ice_avg'].str.replace(':', '.')

In [8]:
#df_age_22['time_on_ice_avg']

In [5]:
len(df_age_24['name'])

606

In [6]:
df_age_24.head()

,TOT,age,assists_ev,assists_pp,assists_sh,blocks,corsi_against,corsi_for,corsi_pct,corsi_rel_pct,...,season,shot_pct,shot_pct.1,shots_attempted,shots_attempted.1,takeaways,time_on_ice_avg,uniqueseason,zs_defense_pct,zs_offense_pct
6,DAL,24,29,14,2,59,1162,1266,52.1,1.5,...,2013-14,12.2,12.2,512,512,69,19.09,NaN,44.0,56.0
75,ANA,24,36,14,0,49,1011,1051,51.0,4.8,...,2009-10,12.8,12.8,284,284,39,21.40,NaN,51.0,49.0
172,CHI,24,13,5,2,115,1204,1240,50.7,-1.4,...,2007-08,8.1,8.1,265,265,52,25.34,NaN,48.3,51.7
328,WSH,24,36,23,0,20,1051,1418,57.4,5.7,...,2009-10,13.6,13.6,665,665,66,21.48,NaN,43.8,56.2
338,ANA,24,31,17,1,34,1287,1288,50.0,3.6,...,2009-10,10.0,10.0,450,450,38,21.04,NaN,50.1,49.9

In [7]:
len(df_age_24)

606

In [8]:
df_age_24=df_age_24.set_index('name')

In [9]:
df_age_24=df_age_24.convert_objects(convert_numeric=True).dropna()

In [10]:
del df_age_24['TOT']
del df_age_24['season']

In [11]:
data_age_24=df_age_24.as_matrix()

In [105]:
# k_means = cluster.KMeans(n_clusters=5)
# k_means.fit(data_age_22)

In [12]:
pca = decomposition.PCA(n_components=3)

In [13]:
pca.fit(data_age_24)

PCA(copy=True, n_components=3, whiten=False)

In [14]:
X = pca.transform(data_age_24)

In [15]:
len(X)

600

In [16]:
new_df_age_24 = pd.DataFrame(X)

In [111]:
# list(df_age_22.index)

In [17]:
new_df_age_24['name']=list(df_age_24.index)

In [18]:
new_df_age_24=new_df_age_24.set_index('name')

In [19]:
new_df_age_24.head(5)

                    0          1           2
name
fatadr01   960.353977  -6.589877   -9.876156
gocma01    443.318363  87.322658  -15.892601
hemskal01 -703.561374  37.905196 -120.662748
hollwry01  337.270697 -51.521275  -18.583178
johnsaa01  543.028340 -31.418323   22.738026

In [21]:
new_df_age_24.to_csv('PCA_Folder/new_df_age_24.csv')