In [1]:
import pandas as pd
import numpy as np
import os
from sklearn import neighbors
from sklearn import cluster, datasets
from sklearn import decomposition

In [2]:
df_age_26=pd.read_csv('AgeData/df_age_26.csv',index_col=0)
df_age_26['time_on_ice_avg'] = df_age_26['time_on_ice_avg'].str.replace(':', '.')
df_age_26=df_age_26.set_index('name')

df_age_26=df_age_26.convert_objects(convert_numeric=True).dropna()
del df_age_26['TOT']
del df_age_26['season']
data_age_26=df_age_26.as_matrix()
pca = decomposition.PCA(n_components=3)
pca.fit(data_age_26)

X = pca.transform(data_age_26)
new_df_age_26 = pd.DataFrame(X)

new_df_age_26['name']=list(df_age_26.index)
new_df_age_26=new_df_age_26.set_index('name')
new_df_age_26.to_csv('PCA_Folder/new_df_age_26.csv')

In [8]:
#df_age_22['time_on_ice_avg']

575

,TOT,age,assists_ev,assists_pp,assists_sh,blocks,corsi_against,corsi_for,corsi_pct,corsi_rel_pct,...,season,shot_pct,shot_pct.1,shots_attempted,shots_attempted.1,takeaways,time_on_ice_avg,uniqueseason,zs_defense_pct,zs_offense_pct
7,DAL,25,37,13,2,50,1160,1375,54.2,3.2,...,2014-15,13.8,13.8,466,466,76,19.57,NaN,45.4,54.6
11,STL,25,14,8,0,20,985,958,49.3,2.5,...,2007-08,20.8,20.8,379,379,33,17.57,NaN,48.4,51.6
44,LAK,25,31,13,0,18,1043,1038,49.9,5.4,...,2007-08,14.4,14.4,285,285,45,18.48,NaN,46.2,53.8
48,MIN,25,28,13,0,18,1103,953,46.4,-4.4,...,2007-08,15.1,15.1,451,451,41,19.36,NaN,54.3,45.7
62,BUF,25,22,3,1,48,858,810,48.6,-1.9,...,2007-08,7.4,7.4,205,205,19,17.10,NaN,45.4,54.6

In [7]:
len(df_age_25)

575

In [105]:
# k_means = cluster.KMeans(n_clusters=5)
# k_means.fit(data_age_22)

In [18]:
# list(df_age_22.index)

                    0           1          2
name
armstco01  392.172018  101.781895  10.322032
artyuev01   45.045387  121.432656  44.586852
bellbr02    66.121065    5.535488 -19.626523
bochebr01 -460.769914  -58.854794  -9.931716
boogade01 -927.829867   20.535387  -2.045948