In [2]:
import pandas as pd
import numpy as np
import os
from sklearn import neighbors
from sklearn import cluster, datasets
from sklearn import decomposition

In [3]:
df_age_23=pd.read_csv('AgeData/df_age_23.csv',index_col=0)

In [4]:
df_age_23.head()

,TOT,age,assists_ev,assists_pp,assists_sh,blocks,corsi_against,corsi_for,corsi_pct,corsi_rel_pct,...,season,shot_pct,shot_pct.1,shots_attempted,shots_attempted.1,takeaways,time_on_ice_avg,uniqueseason,zs_defense_pct,zs_offense_pct
5,DAL,23,14,7,0,32,624,617,49.7,3.2,...,2012-13,10.9,10.9,211,211,41,19:55,NaN,42.0,58.0
74,ANA,23,38,28,0,43,981,1339,57.7,7.2,...,2008-09,11.0,11.0,392,392,55,20:08,NaN,42.3,57.7
327,WSH,23,27,27,0,32,1191,1601,57.3,4.1,...,2008-09,10.6,10.6,875,875,60,23:00,NaN,40.7,59.3
337,ANA,23,26,14,0,13,920,1232,57.2,7.2,...,2008-09,11.3,11.3,443,443,33,18:36,NaN,42.7,57.3
421,CHI,23,19,7,2,14,742,996,57.3,5.1,...,2011-12,15.7,15.7,257,257,82,20:51,NaN,35.6,64.4

In [7]:
df_age_23['time_on_ice_avg'] = df_age_23['time_on_ice_avg'].str.replace(':', '.')

In [8]:
#df_age_22['time_on_ice_avg']

In [9]:
len(df_age_23['name'])

619

In [11]:
df_age_23.head()

,TOT,age,assists_ev,assists_pp,assists_sh,blocks,corsi_against,corsi_for,corsi_pct,corsi_rel_pct,...,season,shot_pct,shot_pct.1,shots_attempted,shots_attempted.1,takeaways,time_on_ice_avg,uniqueseason,zs_defense_pct,zs_offense_pct
5,DAL,23,14,7,0,32,624,617,49.7,3.2,...,2012-13,10.9,10.9,211,211,41,19.55,NaN,42.0,58.0
74,ANA,23,38,28,0,43,981,1339,57.7,7.2,...,2008-09,11.0,11.0,392,392,55,20.08,NaN,42.3,57.7
327,WSH,23,27,27,0,32,1191,1601,57.3,4.1,...,2008-09,10.6,10.6,875,875,60,23.00,NaN,40.7,59.3
337,ANA,23,26,14,0,13,920,1232,57.2,7.2,...,2008-09,11.3,11.3,443,443,33,18.36,NaN,42.7,57.3
421,CHI,23,19,7,2,14,742,996,57.3,5.1,...,2011-12,15.7,15.7,257,257,82,20.51,NaN,35.6,64.4

In [12]:
len(df_age_23)

619

In [13]:
df_age_23=df_age_23.set_index('name')

In [14]:
df_age_23=df_age_23.convert_objects(convert_numeric=True).dropna()

In [15]:
del df_age_23['TOT']
del df_age_23['season']

In [16]:
data_age_23=df_age_23.as_matrix()

In [105]:
# k_means = cluster.KMeans(n_clusters=5)
# k_means.fit(data_age_22)

In [17]:
pca = decomposition.PCA(n_components=3)

In [18]:
pca.fit(data_age_23)

PCA(copy=True, n_components=3, whiten=False)

In [19]:
X = pca.transform(data_age_23)

In [20]:
len(X)

614

In [21]:
new_df_age_23 = pd.DataFrame(X)

In [111]:
# list(df_age_22.index)

In [22]:
new_df_age_23['name']=list(df_age_23.index)

In [23]:
new_df_age_23=new_df_age_23.set_index('name')

In [24]:
new_df_age_23.head(5)

                    0           1           2
name
bennja01   166.960324  -15.092353  -75.287505
bergese01  450.425382  -75.583453  -29.766601
bouchpi02  746.628568  -77.006543   44.225278
ericsjo01 -820.144910  -43.914689    4.457951
filppva01  602.970822 -122.855680  170.126906

In [115]:
new_df_age_23.head(5)

                     0           1          2
name
bennja01   1028.376701 -101.785678 -81.483376
toewsjo01  1249.645776 -216.480202  76.806122
bergepa01  -666.929594  -37.405880 -17.734829
bernist01   388.772531  -45.257225 -17.445716
burnsbr01  1360.533026   36.378153 -33.647161

In [26]:
new_df_age_23.to_csv('PCA_Folder/new_df_age_23.csv')