In [64]:
import pandas as pd
import numpy as np

import pylab as pl
from sklearn.neighbors import KNeighborsClassifier

In [65]:
def dfplayerYear(year):
    dfplayerYr=pd.read_csv('Data/draft_year_player/dfplayer'+str(year)+'.csv')
    namePlayer=[]
    
    for elem in dfplayerYr['url']:
        namePlayer.append(elem[11:-5])

    dfplayerYr['name']=namePlayer

    del dfplayerYr['Unnamed: 0']
    del dfplayerYr['url']
    del dfplayerYr['draft']
    del dfplayerYr['shot']
    del dfplayerYr['pos']
    
    return dfplayerYr

In [66]:
fundam = []
for yr in range(1996,2016):
    fundam.append(dfplayerYear(yr))

In [67]:
df_all_fundam = pd.concat(fundam)
df_all_fundam=df_all_fundam.reset_index(drop=True)

df_all_fundam = df_all_fundam[df_all_fundam.height!= 'ml>']
df_all_fundam=df_all_fundam.reset_index(drop=True)
weight_all=df_all_fundam['weight']
height_all=df_all_fundam['height']

df_all_fundam[['weight','height']]=df_all_fundam[['weight','height']].astype(float)

In [68]:
df_all_fundam

           name  height  weight
0     phillch02   190.0   219.0
1     zyuzian01   185.0   208.0
2     dumonjp01   185.0   205.0
3     volchal01   188.0   204.0
4     jackmri01   188.0   214.0
5     deverbo01   188.0   195.0
6     rasmuer01   185.0   215.0
7     aitkejo01   193.0   230.0
8     saleiru01   185.0   212.0
9      wardla01   190.0   210.0
10    fochtda01   198.0   234.0
11    holdejo01   183.0   190.0
12    morride01   183.0   200.0
13    reasoma01   185.0   197.0
14    zubruda01   196.0   225.0
15    larocma01   193.0   218.0
16    svejkja01   185.0   193.0
17    higgima01   188.0   190.0
18    descoma01   190.0   216.0
19    nilsoma01   188.0   189.0
20    sturmma01   183.0   196.0
21    brierda01   175.0   174.0
22    ratchpe01   185.0   185.0
23    wallije01   188.0   190.0
24    saricco01   193.0   207.0
25    skrbepa01   190.0   217.0
26    lacouda01   188.0   215.0
27    greenjo01   193.0   225.0
28    royerre01   188.0   200.0
29     hajtch01   190.0   206.0
...         ...     ...     ...
2490  chukaiv01   188.0   190.0
2491  kallger01   180.0   157.0
2492  huskaad01   190.0   189.0
2493  korosni01   185.0   195.0
2494  lorenst01   188.0   191.0
2495  reddech01   190.0   219.0
2496  fedotiv01   198.0   191.0
2497  nutivma01   183.0   174.0
2498   velama01   183.0   204.0
2499  olhavgu01   198.0   213.0
2500   sheapa02   178.0   186.0
2501  kupskjo01   196.0   210.0
2502    royma04   183.0   200.0
2503  beckeja01   190.0   188.0
2504  bruceri01   198.0   205.0
2505  pavlyni01   201.0   200.0
2506   nikusa01   183.0   176.0
2507  daccojo01   188.0   197.0
2508  marshad01   183.0   160.0
2509  bouragu01   180.0   184.0
2510  hansspe01   185.0   187.0
2511  gennama01   188.0   187.0
2512  sadekja01   185.0   185.0
2513  smithev01   198.0   174.0
2514  bednary01   190.0   179.0
2515  addisje01   180.0   182.0
2516  svobomi01   190.0   176.0
2517  paigizi01   198.0   209.0
2518  olsonta01   188.0   174.0
2519  dahlsjo01   180.0   189.0

[2520 rows x 3 columns]

In [69]:
def dfplayerYear(age):
    df_age_yr=pd.read_csv('Data/AgeData/df_age_'+str(age)+'.csv',index_col=0)
    return df_age_yr

In [70]:
df_age_frames=[]
for age in range(19,40):
    df_age_frames.append(dfplayerYear(age))

df_ages = pd.concat(df_age_frames)

In [71]:
df_ages=df_ages.reset_index(drop=True)

In [72]:
del df_ages['age_x']

In [73]:
df_ages['goals_all']=df_ages['goals_ev']+df_ages['goals_pp']+df_ages['goals_sh']

In [74]:
df_ages_sorted=df_ages.sort(['name', 'age_y'], ascending=[0, 1])

/Users/takehiromatsuzawa/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [75]:
df_ages_sorted.head()

,TOT,age_y,assists_ev,assists_pp,assists_sh,blocks,corsi_against,corsi_for,corsi_pct,corsi_rel_pct,...,shot_pct,shot_pct.1,shots_attempted,shots_attempted.1,takeaways,time_on_ice_avg,uniqueseason,zs_defense_pct,zs_offense_pct,goals_all
5478,CHI,30.0,2.0,1.0,0.0,35.0,312.0,275.0,46.8,-7.0,...,5.9,5.9,68.0,NaN,6.0,14.58,1,54.2,45.8,2.0
416,MIN,20.0,2.0,0.0,0.0,2.0,73.0,40.0,35.4,-8.8,...,0.0,0.0,16.0,16.0,2.0,11.02,1,48.3,51.7,0.0
894,MIN,21.0,1.0,0.0,0.0,5.0,216.0,183.0,45.9,-6.6,...,11.8,11.8,58.0,58.0,4.0,11.16,1,58.4,41.6,4.0
1516,MIN,22.0,0.0,1.0,0.0,11.0,259.0,198.0,43.3,-5.0,...,10.0,10.0,68.0,68.0,9.0,12.59,1,42.7,57.3,4.0
2221,MIN,23.0,5.0,0.0,0.0,13.0,547.0,641.0,54.0,2.6,...,16.9,16.9,193.0,193.0,21.0,15.04,1,46.2,53.8,21.0

In [76]:
df_ages_sorted=df_ages_sorted.reset_index(drop=True)

In [77]:
df_ages_sorted['goals_all']=df_ages_sorted['goals_all']/df_ages_sorted['games_played']

In [78]:
goals_all_data=list(df_ages_sorted['goals_all'])

In [79]:
goals_all_data.pop(0)
goals_all_data.append(0)

In [80]:
df_ages_sorted['goals_all']=goals_all_data

In [81]:
df_ages=df_ages_sorted.groupby("name").apply(lambda x: x.iloc[:-1]).reset_index(drop=True)

In [82]:
df_all = pd.merge(df_ages, df_all_fundam, on='name')

In [84]:
df_all=df_all.drop_duplicates()

In [85]:
df_all.head()

,TOT,age_y,assists_ev,assists_pp,assists_sh,blocks,corsi_against,corsi_for,corsi_pct,corsi_rel_pct,...,shots_attempted,shots_attempted.1,takeaways,time_on_ice_avg,uniqueseason,zs_defense_pct,zs_offense_pct,goals_all,height,weight
0,DET,20.0,0.0,0.0,0.0,0.0,18.0,19.0,51.4,-10.0,...,8.0,8.0,1.0,12.13,1,40.0,60.0,0.000000,188.0,218.0
1,DET,21.0,0.0,0.0,0.0,0.0,9.0,22.0,71.0,14.6,...,7.0,7.0,0.0,9.18,1,33.3,66.7,0.060000,188.0,218.0
2,DET,22.0,3.0,0.0,0.0,20.0,376.0,409.0,52.1,-2.2,...,141.0,141.0,7.0,10.35,1,33.7,66.3,0.094595,188.0,218.0
3,DET,23.0,11.0,0.0,1.0,39.0,628.0,765.0,54.9,-0.4,...,226.0,226.0,17.0,12.18,1,41.2,58.8,0.098765,188.0,218.0
4,DET,24.0,14.0,0.0,0.0,42.0,698.0,794.0,53.2,-3.2,...,196.0,196.0,16.0,12.19,1,40.7,59.3,0.208333,188.0,218.0

In [86]:
#df_all['goals_all']=df_all['goals_all']
df_all['goals_ev']=df_all['goals_ev']/df_all['games_played']
df_all['goals_pp']=df_all['goals_pp']/df_all['games_played']
df_all['goals_sh']=df_all['goals_sh']/df_all['games_played']

df_all['assists_all']=df_all['assists_ev']+df_all['assists_pp']+df_all['assists_sh']
df_all['assists_all']=df_all['assists_all']/df_all['games_played']
df_all['assists_ev']=df_all['assists_ev']/df_all['games_played']
df_all['assists_pp']=df_all['assists_pp']/df_all['games_played']
df_all['assists_sh']=df_all['assists_sh']/df_all['games_played']

df_all['zs_offense_pct']=df_all['zs_offense_pct']/100.0
df_all['shot_pct']=df_all['shot_pct']/100.0
df_all['takeaways']=df_all['takeaways']/df_all['games_played']
df_all['hits']=df_all['hits']/df_all['games_played']

df_all['giveaways']=df_all['giveaways']/df_all['games_played']
df_all['blocks']=df_all['blocks']/df_all['games_played']

df_all['shots_attempted']=df_all['shots_attempted']/df_all['games_played']

In [87]:
df_all.head()

,TOT,age_y,assists_ev,assists_pp,assists_sh,blocks,corsi_against,corsi_for,corsi_pct,corsi_rel_pct,...,shots_attempted.1,takeaways,time_on_ice_avg,uniqueseason,zs_defense_pct,zs_offense_pct,goals_all,height,weight,assists_all
0,DET,20.0,0.000000,0.0,0.000000,0.000000,18.0,19.0,51.4,-10.0,...,8.0,0.500000,12.13,1,40.0,0.600,0.000000,188.0,218.0,0.000000
1,DET,21.0,0.000000,0.0,0.000000,0.000000,9.0,22.0,71.0,14.6,...,7.0,0.000000,9.18,1,33.3,0.667,0.060000,188.0,218.0,0.000000
2,DET,22.0,0.060000,0.0,0.000000,0.400000,376.0,409.0,52.1,-2.2,...,141.0,0.140000,10.35,1,33.7,0.663,0.094595,188.0,218.0,0.060000
3,DET,23.0,0.148649,0.0,0.013514,0.527027,628.0,765.0,54.9,-0.4,...,226.0,0.229730,12.18,1,41.2,0.588,0.098765,188.0,218.0,0.162162
4,DET,24.0,0.172840,0.0,0.000000,0.518519,698.0,794.0,53.2,-3.2,...,196.0,0.197531,12.19,1,40.7,0.593,0.208333,188.0,218.0,0.172840

In [88]:
df_all_nn=df_all[['goals_all','goals_ev','goals_pp','goals_sh','assists_ev','assists_pp','assists_sh','shots_attempted','age_y','blocks',
                 'giveaways','hits','shot_pct','shots_attempted','takeaways','zs_offense_pct','height','weight']]

In [89]:
df_all_nn.head()

,goals_all,goals_ev,goals_pp,goals_sh,assists_ev,assists_pp,assists_sh,shots_attempted,age_y,blocks,giveaways,hits,shot_pct,shots_attempted,takeaways,zs_offense_pct,height,weight
0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,4.000000,20.0,0.000000,0.00000,2.500000,0.000,4.000000,0.500000,0.600,188.0,218.0
1,0.060000,0.000000,0.0,0.0,0.000000,0.0,0.000000,3.500000,21.0,0.000000,0.50000,1.500000,0.000,3.500000,0.000000,0.667,188.0,218.0
2,0.094595,0.060000,0.0,0.0,0.060000,0.0,0.000000,2.820000,22.0,0.400000,0.14000,3.040000,0.038,2.820000,0.140000,0.663,188.0,218.0
3,0.098765,0.094595,0.0,0.0,0.148649,0.0,0.013514,3.054054,23.0,0.527027,0.27027,2.540541,0.054,3.054054,0.229730,0.588,188.0,218.0
4,0.208333,0.098765,0.0,0.0,0.172840,0.0,0.000000,2.419753,24.0,0.518519,0.17284,1.827160,0.066,2.419753,0.197531,0.593,188.0,218.0

In [90]:
cols_to_norm = ['goals_ev','goals_pp','goals_sh','assists_ev','assists_pp','assists_sh','shots_attempted','age_y','blocks','giveaways',
               'hits','shot_pct','shots_attempted','takeaways','zs_offense_pct','height','weight']
df_all_nn_2=df_all_nn[cols_to_norm].apply(lambda x: (x - x.mean()) / (x.max() - x.min()))

In [91]:
df_all_nn_2.head()

,goals_ev,goals_pp,goals_sh,assists_ev,assists_pp,assists_sh,shots_attempted,shots_attempted,age_y,blocks,giveaways,hits,shot_pct,shots_attempted,shots_attempted,takeaways,zs_offense_pct,height,weight
0,-0.108012,-0.032897,-0.008061,-0.177088,-0.062086,-0.020775,0.092108,0.092108,-0.290891,-0.203475,-0.136367,0.173870,-0.080549,0.092108,0.092108,0.079107,0.091405,0.047091,0.125788
1,-0.108012,-0.032897,-0.008061,-0.177088,-0.062086,-0.020775,0.046275,0.046275,-0.238260,-0.203475,0.030300,0.031013,-0.080549,0.046275,0.046275,-0.213862,0.158405,0.047091,0.125788
2,-0.048012,-0.032897,-0.008061,-0.117088,-0.062086,-0.020775,-0.016057,-0.016057,-0.185628,-0.091814,-0.089700,0.251013,-0.042549,-0.016057,-0.016057,-0.131830,0.154405,0.047091,0.125788
3,-0.013418,-0.032897,-0.008061,-0.028439,-0.062086,0.046792,0.005397,0.005397,-0.132997,-0.056354,-0.046277,0.179662,-0.026549,0.005397,0.005397,-0.079254,0.079405,0.047091,0.125788
4,-0.009247,-0.032897,-0.008061,-0.004248,-0.062086,-0.020775,-0.052746,-0.052746,-0.080365,-0.058730,-0.078754,0.077751,-0.014549,-0.052746,-0.052746,-0.098121,0.084405,0.047091,0.125788

In [92]:
df_all_nn_2['goals_all']=df_all_nn['goals_all']

In [93]:
df_all_nn_2['age_y'] = df_all_nn_2['age_y'].apply(lambda x: abs(x))

In [94]:
df_all_nn_2=df_all_nn_2.reset_index(drop=True)

In [95]:
import pandas as pd
import pylab as pl
from sklearn.neighbors import KNeighborsClassifier

In [96]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet

In [97]:
import statsmodels.api as sm

In [98]:

features = ['goals_pp','goals_ev','goals_sh','assists_ev','assists_pp','assists_sh','age_y',
               'hits','shots_attempted','takeaways','zs_offense_pct','weight','height']

alpha_val=[1e-8, 1e-6, 1e-5, 1e-4, 5e-4, 1e-3, 1e-2]
results_all_OLR=[]

result=[]
for k in range(0,100):
    test_idx = np.random.uniform(0, 1, len(df_all_nn_2)) <= 0.8
    train = df_all_nn_2[test_idx==True]
    test = df_all_nn_2[test_idx==False]

    train_goals_all=list(train['goals_all'])
    train_data=train[features].as_matrix()
    #train_data=np.array(train_data).tolist()
    test_data=test[features].as_matrix()
    #test_data=np.array(test_data).tolist()

    model=sm.OLS(train_goals_all,train_data).fit()
    
    #clfridge = Lasso(alpha=alphaval).fit(train_data,train_goals_all)

    preds = model.predict(test_data)
    test_goals_all=list(test['goals_all'])
    distance=0
    for i in range(len(preds)):
        if preds[i]<0:
            distance += pow((test_goals_all[i]), 2)
        else:    
            distance += pow((test_goals_all[i]-preds[i]), 2)


    result.append(distance)
    
    #results_all_OLR.append()
    
print sum(result)/(len(result)*len(preds))

0.0118562914063

In [99]:
min(preds)

-0.12444700919365929

In [100]:
max(preds)

0.5818703919078555

In [101]:

features = ['goals_pp','goals_ev','goals_sh','assists_ev','assists_pp','assists_sh','age_y',
               'hits','shots_attempted','takeaways','zs_offense_pct','weight','height']
alpha_val=[1e-8, 1e-6, 1e-5, 1e-4, 5e-4, 1e-3, 1e-2]
results_all_ridge=[]

for alphaval in alpha_val:
    result=[]
    
    for k in range(0,20):
        test_idx = np.random.uniform(0, 1, len(df_all_nn_2)) <= 0.8
        train = df_all_nn_2[test_idx==True]
        test = df_all_nn_2[test_idx==False]

        train_goals_all=list(train['goals_all'])
        train_data=train[features].as_matrix()
        #train_data=np.array(train_data).tolist()
        test_data=test[features].as_matrix()
        #test_data=np.array(test_data).tolist()

        clfridge = Lasso(alpha=alphaval).fit(train_data,train_goals_all)

        preds = clfridge.predict(test_data)
        test_goals_all=list(test['goals_all'])
        distance=0
        for i in range(len(preds)):
            distance += pow((test_goals_all[i]-preds[i]), 2)

        
        result.append(distance)
    
    results_all_ridge.append([alphaval, sum(result)/(len(result)*len(preds))])
    
print results_all_ridge

[[1e-08, 0.0070681409932194586], [1e-06, 0.0069003244378949523], [1e-05, 0.0069304196271016538], [0.0001, 0.0070091749568952626], [0.0005, 0.0077635985281943581], [0.001, 0.0077020155578339661], [0.01, 0.016585316282929658]]

In [102]:
results_df_ridge = pd.DataFrame(results_all_ridge, columns=["Penalty", "error"])

pl.plot(results_df_ridge.Penalty, results_df_ridge.error)
pl.title("Error with Increasing Penalty (Ridge)")
pl.xlabel('Penalty')
pl.ylabel('Error')

In [103]:
results_df_ridge

        Penalty     error
0  1.000000e-08  0.007068
1  1.000000e-06  0.006900
2  1.000000e-05  0.006930
3  1.000000e-04  0.007009
4  5.000000e-04  0.007764
5  1.000000e-03  0.007702
6  1.000000e-02  0.016585

In [106]:

features = ['goals_pp','goals_ev','goals_sh','assists_ev','assists_pp','assists_sh','age_y',
               'hits','shots_attempted','takeaways','zs_offense_pct','weight','height']
alpha_val=[1e-8, 1e-6, 1e-5, 1e-4, 5e-4, 1e-3, 1e-2]
#alpha_val=[1e-8]
results_all_lasso=[]
dict_coef={}
dict_coef_sum={}


for i in range(len(clflasso.coef_)):
    dict_coef[i]=0
    dict_coef_sum[i]=0
    
for alphaval in alpha_val:
    result=[]
    
    for k in range(0,100):
        test_idx = np.random.uniform(0, 1, len(df_all_nn_2)) <= 0.8
        train = df_all_nn_2[test_idx==True]
        test = df_all_nn_2[test_idx==False]

        train_goals_all=list(train['goals_all'])
        train_data=train[features].as_matrix()
        #train_data=np.array(train_data).tolist()
        test_data=test[features].as_matrix()
        #test_data=np.array(test_data).tolist()

        clflasso = Lasso(alpha=alphaval).fit(train_data,train_goals_all)
        coeffs=clflasso.coef_
        
        for elem in range(len(coeffs)):
            if coeffs[elem]==0:
                dict_coef[elem]=dict_coef[elem]+1
            dict_coef_sum[elem]=dict_coef_sum[elem]+coeffs[elem]/float(800)
            
        preds = clflasso.predict(test_data)
        test_goals_all=list(test['goals_all'])
        distance=0
        for i in range(len(preds)):
            distance += pow((test_goals_all[i]-preds[i]), 2)

        
        result.append(distance)
    
    results_all_lasso.append([alphaval, sum(result)/(len(result)*len(preds))])
    
print results_all_lasso

[[1e-08, 0.006780832599605489], [1e-06, 0.0066541678279236341], [1e-05, 0.0067627339285671753], [0.0001, 0.0069973331651464387], [0.0005, 0.0070042275563907581], [0.001, 0.0075008800580818567], [0.01, 0.016967412941604362]]

In [107]:
train.columns

Index([u'goals_ev', u'goals_pp', u'goals_sh', u'assists_ev', u'assists_pp',
       u'assists_sh', u'shots_attempted', u'shots_attempted', u'age_y',
       u'blocks', u'giveaways', u'hits', u'shot_pct', u'shots_attempted',
       u'shots_attempted', u'takeaways', u'zs_offense_pct', u'height',
       u'weight', u'goals_all'],
      dtype='object')

In [108]:
len(features)

13

In [109]:
dict_coef_sum

{0: 0.43438271537377565,
 1: 0.35107629894396808,
 2: 0.079261852421122478,
 3: 0.034269441723892402,
 4: -0.0069280468618243369,
 5: -0.0068321095395445525,
 6: -0.0050921259704993175,
 7: -0.012126753069647918,
 8: 0.13291314613978408,
 9: 1.0549224063025262e-16,
 10: 3.0091062077725416e-18,
 11: 1.8918731389664747e-18,
 12: 0.087006674160054823,
 13: 0.02171417331986026,
 14: 0.0019594250448225058,
 15: -0.011070621749743726}

In [110]:
dict(zip(train[features].columns, dict_coef_sum.values()))

{'age_y': -0.0050921259704993175,
 'assists_ev': 0.034269441723892402,
 'assists_pp': -0.0069280468618243369,
 'assists_sh': -0.0068321095395445525,
 'goals_ev': 0.35107629894396808,
 'goals_pp': 0.43438271537377565,
 'goals_sh': 0.079261852421122478,
 'height': -0.011070621749743726,
 'hits': -0.012126753069647918,
 'shots_attempted': 1.8918731389664747e-18,
 'takeaways': 0.087006674160054823,
 'weight': 0.0019594250448225058,
 'zs_offense_pct': 0.02171417331986026}

In [111]:
dict_coef.values()

[100, 100, 318, 100, 402, 400, 318, 226, 9, 290, 447, 461, 100, 287, 381, 270]

In [112]:
results_df_lasso = pd.DataFrame(results_all_lasso, columns=["Penalty", "error"])

pl.plot(results_df_lasso.Penalty, results_df_lasso.error)
pl.title("Error with Increasing Penalty (Lasso)")
pl.xlabel('Penalty')
pl.ylabel('Error')
pl.show()

KeyboardInterrupt: